@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@keyframes deslizY {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes deslizX {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes desliz-X {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  font-family: "Lexend Exa", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgba(7, 7, 7, 0.9215686275);
  /*SOBRESANZ*/
}
.header .lateralNegro {
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100%;
  width: 4.4em;
  padding: 1em 0;
}
.header .lateralNegro .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .lateralNegro i {
  font-size: 23px;
  margin: 15px auto;
}
.header .principalArea, .header .principalArea_c, .header .principalArea_g, .header .principalArea_m, .header .principalArea_ss {
  background-color: rgba(15, 15, 15, 0.9215686275);
  padding-top: 0.4em;
  padding-right: 4em;
  padding-left: 3.8em;
}
.header .principalArea .logoMobile, .header .principalArea_c .logoMobile, .header .principalArea_g .logoMobile, .header .principalArea_m .logoMobile, .header .principalArea_ss .logoMobile {
  top: 12px;
  left: 2em;
  display: none;
}
.header .principalArea .logoMobile .logo, .header .principalArea_c .logoMobile .logo, .header .principalArea_g .logoMobile .logo, .header .principalArea_m .logoMobile .logo, .header .principalArea_ss .logoMobile .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .principalArea .seccionPrincipal h1, .header .principalArea_c .seccionPrincipal h1, .header .principalArea_g .seccionPrincipal h1, .header .principalArea_m .seccionPrincipal h1, .header .principalArea_ss .seccionPrincipal h1 {
  font-size: 5.5em;
  letter-spacing: -5px;
}
.header .principalArea .seccionPrincipal p, .header .principalArea_c .seccionPrincipal p, .header .principalArea_g .seccionPrincipal p, .header .principalArea_m .seccionPrincipal p, .header .principalArea_ss .seccionPrincipal p {
  font-size: 1em;
  letter-spacing: -1px;
}
.header .principalArea .seccionPrincipal .yellowBar, .header .principalArea_c .seccionPrincipal .yellowBar, .header .principalArea_g .seccionPrincipal .yellowBar, .header .principalArea_m .seccionPrincipal .yellowBar, .header .principalArea_ss .seccionPrincipal .yellowBar {
  background-color: rgba(224, 203, 11, 0.7607843137);
  width: 115px;
  height: 90%;
  bottom: 0;
  left: 94px;
  animation-name: deslizY;
  animation-duration: 2s;
}
.header .principalArea .seccionPrincipal .imgPrincipal, .header .principalArea_c .seccionPrincipal .imgPrincipal, .header .principalArea_g .seccionPrincipal .imgPrincipal, .header .principalArea_m .seccionPrincipal .imgPrincipal, .header .principalArea_ss .seccionPrincipal .imgPrincipal {
  background-image: url(../assets/images/img0014.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header .principalArea_ss {
  padding-right: 0;
}
.header .principalArea_ss .logoMobile {
  top: 12px;
  left: 2em;
  display: none;
}
.header .principalArea_ss .logoMobile .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .principalArea_ss .seccionPrincipal_ss h1 {
  font-size: 5.5em;
  letter-spacing: -5px;
}
.header .principalArea_ss .seccionPrincipal_ss h1 .comaTitulo {
  color: rgba(224, 203, 11, 0.7607843137);
  font-weight: normal;
}
.header .principalArea_ss .seccionPrincipal_ss h1 .iconTitulo {
  font-size: 0.6em;
  margin-left: 25px;
}
.header .principalArea_ss .seccionPrincipal_ss .imgPrincipal_ss {
  background-image: url(../assets/images/img0017.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
  height: 700px;
}
.header .principalArea_ss .seccionPrincipal_ss .yellowBar_ss {
  background-color: rgba(224, 203, 11, 0.7607843137);
  width: 55%;
  height: 46px;
  bottom: 110px;
  right: 0px;
  animation-name: deslizX;
  animation-duration: 2s;
}
.header .principalArea_ss .divNav {
  padding-right: 7em;
}
.header .principalArea_m .logoMobile {
  top: 12px;
  left: 2em;
  display: none;
}
.header .principalArea_m .logoMobile .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .principalArea_m .seccionPrincipal_m h1 {
  font-size: 5.5em;
  letter-spacing: -5px;
}
.header .principalArea_m .seccionPrincipal_m .yellowBar_m {
  background-color: rgba(224, 203, 11, 0.7607843137);
  width: 55%;
  height: 50px;
  bottom: 200px;
  left: -50px;
  animation-name: desliz-X;
  animation-duration: 2s;
}
.header .principalArea_m .seccionPrincipal_m .imgPrincipal_m {
  background-image: url(../assets/images/imgPrincipal.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.header .principalArea_g {
  padding-right: 4em;
}
.header .principalArea_g .logoMobile {
  top: 12px;
  left: 2em;
  display: none;
}
.header .principalArea_g .logoMobile .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .principalArea_g .seccionPrincipal_g .yellowBar_g {
  background-color: rgba(224, 203, 11, 0.7607843137);
  width: 55%;
  height: 50px;
  bottom: 200px;
  left: -50px;
  animation-name: desliz-X;
  animation-duration: 2s;
}
.header .principalArea_g .seccionPrincipal_g .imgPrincipal_g {
  background-image: url(../assets/images/img0025.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.header .principalArea_g .seccionPrincipal_g h1 {
  font-size: 5.5em;
  letter-spacing: -5px;
}
.header .principalArea_c .logoMobile {
  top: 12px;
  left: 2em;
  display: none;
}
.header .principalArea_c .logoMobile .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.header .principalArea_c .seccionPrincipal_c h1 {
  font-size: 5.5em;
  letter-spacing: -5px;
}
.header .principalArea_c .seccionPrincipal_c .yellowBar_c {
  background-color: rgba(224, 203, 11, 0.7607843137);
  width: 115px;
  height: 90%;
  bottom: 0;
  left: 94px;
  animation-name: deslizY;
  animation-duration: 2s;
}
.header .principalArea_c .seccionPrincipal_c .imgPrincipal_c {
  height: 700px;
}
.header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact h3 {
  font-size: 1.8em;
}
.header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact .inpContact {
  width: 450px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid rgba(171, 171, 171, 0.6588235294);
  background: none;
  margin-top: 30px;
}
.header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact .inpContact::placeholder {
  color: rgba(171, 171, 171, 0.6588235294);
  font-weight: light;
}
.header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact .btnContact {
  margin-top: 30px;
  width: 450px;
  height: 30px;
  border: none;
  background-color: #E0CB0B;
  border-radius: 20px;
  font-size: 15px;
  letter-spacing: -1px;
}

/*Media Queries*/
/*MD*/
@media screen and (width >= 768px) and (width < 992px) {
  /*HEADER*/
  .header .lateralNegro {
    display: none !important;
  }
  .header .principalArea, .header .principalArea_ss, .header .principalArea_m, .header .principalArea_g, .header .principalArea_c {
    padding-left: 2em;
  }
  .header .principalArea .logoMobile, .header .principalArea_ss .logoMobile, .header .principalArea_m .logoMobile, .header .principalArea_g .logoMobile, .header .principalArea_c .logoMobile {
    display: block;
  }
  .header .principalArea .seccionPrincipal h1, .header .principalArea_ss .seccionPrincipal h1, .header .principalArea_m .seccionPrincipal h1, .header .principalArea_g .seccionPrincipal h1, .header .principalArea_c .seccionPrincipal h1 {
    font-size: 6em;
    letter-spacing: -5px;
  }
  .header .principalArea .seccionPrincipal p, .header .principalArea_ss .seccionPrincipal p, .header .principalArea_m .seccionPrincipal p, .header .principalArea_g .seccionPrincipal p, .header .principalArea_c .seccionPrincipal p {
    font-size: 1.5em;
    letter-spacing: -1px;
  }
  .header .principalArea .seccionPrincipal .yellowBar, .header .principalArea_ss .seccionPrincipal .yellowBar, .header .principalArea_m .seccionPrincipal .yellowBar, .header .principalArea_g .seccionPrincipal .yellowBar, .header .principalArea_c .seccionPrincipal .yellowBar {
    left: 15%;
  }
  .header .principalArea .seccionPrincipal .imgPrincipal, .header .principalArea_ss .seccionPrincipal .imgPrincipal, .header .principalArea_m .seccionPrincipal .imgPrincipal, .header .principalArea_g .seccionPrincipal .imgPrincipal, .header .principalArea_c .seccionPrincipal .imgPrincipal {
    display: none;
  }
  .header .principalArea_m {
    padding-left: 2em;
  }
  .header .principalArea_m .logoMobile {
    display: block;
  }
  .header .principalArea_m .seccionPrincipal_m h1 {
    font-size: 5em;
    letter-spacing: -5px;
  }
  .header .principalArea_m .seccionPrincipal_m .yellowBar_m {
    width: 92%;
  }
  .header .principalArea_m .seccionPrincipal_m .imgPrincipal_m {
    display: none;
  }
  .header .principalArea_ss .logoMobile {
    display: block !important;
  }
  .header .principalArea_ss .seccionPrincipal_ss .imgPrincipal_ss {
    display: none;
  }
  .header .principalArea_ss .seccionPrincipal_ss .yellowBar_ss {
    width: 92%;
  }
  .header .principalArea_g .logoMobile {
    display: block;
  }
  .header .principalArea_g .seccionPrincipal_g .yellowBar_g {
    width: 92%;
  }
  .header .principalArea_g .seccionPrincipal_g .imgPrincipal_g {
    display: none;
  }
  .header .principalArea_c {
    padding-right: 25px;
  }
  .header .principalArea_c .logoMobile {
    display: block;
  }
  .header .principalArea_c .seccionPrincipal_c .h1Titulo span {
    font-size: 70px;
  }
  .header .principalArea_c .seccionPrincipal_c .imgPrincipal_c {
    height: 400px;
  }
  .header .principalArea_c .seccionPrincipal_c .yellowBar_c {
    width: 90%;
    height: 18px;
    top: 190px;
    left: -20px;
    animation-name: desliz-X;
    animation-duration: 2s;
  }
}
/*SM*/
@media screen and (width >= 0px) and (width < 768px) {
  /*HEADER*/
  .header .lateralNegro {
    display: none !important;
  }
  .header .principalArea, .header .principalArea_ss, .header .principalArea_m, .header .principalArea_g, .header .principalArea_c {
    padding-right: 2em;
    padding-left: 2em;
  }
  .header .principalArea .logoMobile, .header .principalArea_ss .logoMobile, .header .principalArea_m .logoMobile, .header .principalArea_g .logoMobile, .header .principalArea_c .logoMobile {
    display: block !important;
  }
  .header .principalArea .seccionPrincipal h1, .header .principalArea_ss .seccionPrincipal h1, .header .principalArea_m .seccionPrincipal h1, .header .principalArea_g .seccionPrincipal h1, .header .principalArea_c .seccionPrincipal h1 {
    font-size: 4.2em;
    letter-spacing: -5px;
    margin-left: 5em;
    line-height: 75px;
  }
  .header .principalArea .seccionPrincipal p, .header .principalArea_ss .seccionPrincipal p, .header .principalArea_m .seccionPrincipal p, .header .principalArea_g .seccionPrincipal p, .header .principalArea_c .seccionPrincipal p {
    font-size: 0.9em;
    letter-spacing: -1px;
    margin-left: 10px;
  }
  .header .principalArea .seccionPrincipal .yellowBar, .header .principalArea_ss .seccionPrincipal .yellowBar, .header .principalArea_m .seccionPrincipal .yellowBar, .header .principalArea_g .seccionPrincipal .yellowBar, .header .principalArea_c .seccionPrincipal .yellowBar {
    left: 65%;
    bottom: 0;
    width: 95px;
    height: 95%;
  }
  .header .principalArea .seccionPrincipal .imgPrincipal, .header .principalArea_ss .seccionPrincipal .imgPrincipal, .header .principalArea_m .seccionPrincipal .imgPrincipal, .header .principalArea_g .seccionPrincipal .imgPrincipal, .header .principalArea_c .seccionPrincipal .imgPrincipal {
    display: none !important;
  }
  .header .principalArea_ss .logoMobile {
    display: block !important;
  }
  .header .principalArea_ss .seccionPrincipal_ss .yellowBar_ss {
    right: 20%;
    bottom: 0;
    width: 70px;
    height: 95%;
    animation-name: deslizY;
    animation-duration: 2s;
  }
  .header .principalArea_ss .seccionPrincipal_ss .imgPrincipal_ss {
    display: none !important;
  }
  .header .principalArea_ss .seccionPrincipal_ss h1 .iconTitulo {
    font-size: 0.8em;
    margin-left: -20px;
  }
  .header .principalArea_m .logoMobile {
    display: block !important;
  }
  .header .principalArea_m .seccionPrincipal_m .yellowBar_m {
    left: 10%;
    bottom: 0;
    width: 80px;
    height: 95%;
    animation-name: deslizY;
    animation-duration: 2s;
  }
  .header .principalArea_m .seccionPrincipal_m .imgPrincipal_m {
    display: none !important;
  }
  .header .principalArea_g .logoMobile {
    display: block !important;
  }
  .header .principalArea_g .seccionPrincipal_g .yellowBar_g {
    left: 65%;
    bottom: 0;
    width: 95px;
    height: 95%;
    animation-name: deslizY;
    animation-duration: 2s;
  }
  .header .principalArea_g .seccionPrincipal_g .imgPrincipal_g {
    display: none !important;
  }
  .header .principalArea_c {
    padding-right: 20px;
  }
  .header .principalArea_c .logoMobile {
    display: block !important;
  }
  .header .principalArea_c .seccionPrincipal_c .yellowBar_c {
    width: 90%;
    height: 16px;
    top: 210px;
    left: -20px;
    animation-name: desliz-X;
    animation-duration: 2s;
  }
  .header .principalArea_c .seccionPrincipal_c .imgPrincipal_c {
    height: 300px;
  }
  .header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact h3 {
    font-size: 1.4em;
  }
  .header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact .inpContact {
    width: 350px;
    height: 30px;
    padding: 5px 10px;
    font-size: 10px;
  }
  .header .principalArea_c .seccionPrincipal_c .imgPrincipal_c .formContact .btnContact {
    margin-top: 30px;
    width: 350px;
    height: 30px;
    font-size: 12px;
  }
  .header .principalArea_c .seccionPrincipal_c .h1Titulo span {
    font-size: 55px;
  }
}
.main {
  background-color: #000;
  /*NO PUDE INCLUIR '@EXTEND' EN LOS H3, P, H5, BUTTON*/
  /*GALERIA*/
  /*CONTACTO*/
}
.main .secEscritorio {
  padding: 40px;
}
.main .secEscritorio h3 {
  font-size: 3.5em;
  letter-spacing: -8px;
}
.main .secEscritorio p {
  font-size: 15px;
  margin: 10px;
}
.main .secEscritorio .containerImg {
  margin: 20px auto;
}
.main .secEscritorio .containerImg .subContainer {
  height: 430px;
  width: 430px;
}
.main .secCelular {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/img02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none !important;
}
.main .secCelular h3 {
  font-size: 3.5em;
  letter-spacing: -8px;
}
.main .secCelular p {
  font-size: 18px;
}
.main .carruselMobile {
  display: none !important;
}
.main .carruselMobile .carousel-item {
  height: 80vh;
}
.main .secVideo {
  padding: 15px;
}
.main .secVideo .box {
  height: 450px;
}
.main .secVideo .box .divVideo {
  background-color: #1a1a1a;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}
.main .secVideo .box .divVideo video {
  width: 45%;
}
.main .secVideo .divTwo {
  padding: 15px;
}
.main .secVideo .divTwo h3 {
  font-size: 3.5em;
  letter-spacing: -8px;
}
.main .secVideo .divTwo p {
  font-size: 18px;
}
.main .secVideo_m {
  padding: 0 45px;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 350px;
}
.main .secVideo_m .divOne_m {
  width: 100%;
}
.main .secVideo_m .divOne_m .divVideo {
  background-color: #1a1a1a;
  width: 90%;
  height: 280px;
  border-radius: 10px;
  padding: 0 20px;
}
.main .secVideo_m .divOne_m .divVideo .cajaUno .divLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25%;
  height: 75%;
}
.main .secVideo_m .divOne_m .divVideo .cajaUno .divLogo:first-child {
  background-image: url(../assets/images/logo-nike.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaUno .divLogo:nth-child(2) {
  background-image: url(../assets/images/logo-tnf.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaUno .divLogo:nth-child(3) {
  background-image: url(../assets/images/logo-nautica.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaUno .divLogo:last-child {
  background-image: url(../assets/images/logo-adidas.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaDos .divLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25%;
  height: 75%;
}
.main .secVideo_m .divOne_m .divVideo .cajaDos .divLogo:first-child {
  background-image: url(../assets/images/logo-fila.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaDos .divLogo:nth-child(2) {
  background-image: url(../assets/images/logo-starter.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaDos .divLogo:nth-child(3) {
  background-image: url(../assets/images/logo-lacoste.png);
}
.main .secVideo_m .divOne_m .divVideo .cajaDos .divLogo:last-child {
  background-image: url(../assets/images/logo-vans.png);
}
.main .secVideo_m .divTwo_m {
  padding: 15px;
}
.main .secVideo_m .divTwo_m h3 {
  font-size: 30px;
}
.main .secVideo_m .divTwo_m p {
  font-size: 16px;
}
.main .secVideo_ss {
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.main .secVideo_ss .divVideo_ss {
  background-color: #1a1a1a;
  width: 90%;
  height: 95%;
  border-radius: 10px;
}
.main .secVideo_ss .divTwo_ss {
  padding: 15px;
}
.main .secVideo_ss .divTwo_ss .sanz_ss {
  color: rgba(224, 203, 11, 0.9019607843);
}
.main .secVideo_ss .divTwo_ss a {
  background-color: rgba(224, 203, 11, 0.5882352941);
  padding: 0 5px;
}
.main .secText {
  padding: 55px 50px;
  height: 350px;
}
.main .secText .h3_sectext {
  font-size: 2.5em;
  letter-spacing: -5px;
}
.main .secText .p_secText {
  font-size: 16px;
  margin: 8px auto 25px;
}
.main .secText .h5_secText {
  font-size: 20px;
}
.main .secText .btn_secText {
  width: 550px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: rgba(224, 203, 11, 0.9019607843);
  margin-top: 18px;
  font-size: 15px;
}
.main .secText .btn_secText:hover {
  background-color: rgba(224, 203, 11, 0.768627451);
}
.main .secText_ss {
  padding: 55px 50px;
  height: 550px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/img0016.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .secText_ss .h3_st_ss {
  font-size: 2.5em;
  letter-spacing: -5px;
}
.main .secText_ss .p_st_ss {
  font-size: 16px;
  margin: 8px auto 25px;
}
.main .secText_ss .h5_st_ss {
  font-size: 20px;
}
.main .secText_ss .btn_st_ss {
  width: 550px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: rgba(224, 203, 11, 0.9019607843);
  margin-top: 18px;
  font-size: 15px;
}
.main .secText_ss .btn_st_ss:hover {
  background-color: rgba(224, 203, 11, 0.768627451);
}
.main .secText_m {
  padding: 55px 50px;
  height: 550px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/img0016.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .secText_m h3 {
  font-size: 2.5em;
  letter-spacing: -5px;
}
.main .secText_m .p_st_m {
  font-size: 16px;
  margin: 8px auto 25px;
}
.main .secText_m .h5_st_m {
  font-size: 20px;
}
.main .secText_m .btn_st_m {
  width: 550px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: rgba(224, 203, 11, 0.9019607843);
  margin-top: 18px;
  font-size: 15px;
}
.main .secText_m .btn_st_m:hover {
  background-color: rgba(224, 203, 11, 0.768627451);
}
.main .contenedorImgGal {
  height: 520px;
  width: 420px;
}
.main .secMap iframe {
  border: none;
  margin-top: 25px;
  width: 85%;
  height: 450px;
}

/*Media Queries*/
/*MD*/
@media screen and (width >= 768px) and (width < 992px) {
  .main {
    /*SECCION CARRUSEL*/
  }
  .main .secEscritorio {
    display: none !important;
  }
  .main .secCelular {
    display: flex !important;
  }
  .main .carruselMobile {
    display: block !important;
  }
  .main .carruselMobile .carousel-item {
    height: 100vh;
  }
  .main .secVideo {
    display: none !important;
  }
  .main .secVideo_ss {
    padding: 0 30px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .main .secVideo_ss .box:nth-child(2) {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .main .secVideo_ss .divTwo_ss {
    width: 100% !important;
  }
  .main .secVideo_ss .divTwo_ss a {
    background-color: rgba(224, 203, 11, 0.5882352941);
    padding: 0 5px;
  }
  .main .secVideo_m .divOne_m {
    width: 100%;
  }
  .main .secVideo_m .divOne_m .divVideo {
    height: 200px;
    border-radius: 10px;
    padding: 0 20px;
  }
  .main .secVideo_m .divTwo_m {
    padding: 0 10px;
  }
  .main .secVideo_m .divTwo_m h3 {
    font-size: 25px;
  }
  .main .secVideo_m .divTwo_m p {
    font-size: 12px;
  }
}
/*SM*/
@media screen and (width >= 0px) and (width < 768px) {
  .main {
    /*SECCION UNO*/
    /*SECCION CARRUSEL*/
  }
  .main .secEscritorio {
    display: none !important;
  }
  .main .secEscritorio .subContainer {
    height: 600px;
    width: 100%;
  }
  .main .secCelular {
    display: flex !important;
  }
  .main .carruselMobile {
    display: block !important;
  }
  .main .secVideo {
    display: none !important;
  }
  .main .secVideo_ss {
    padding: 0 30px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .main .secVideo_ss .box:nth-child(2) {
    display: none !important;
  }
  .main .secVideo_ss .divTwo_ss {
    width: 100% !important;
  }
  .main .secVideo_ss .divTwo_ss a {
    background-color: rgba(224, 203, 11, 0.5882352941);
    padding: 0 5px;
  }
  .main .secVideo_m {
    flex-direction: column !important;
    padding: 25px;
  }
  .main .secVideo_m .divOne_m {
    width: 100%;
    order: 1;
  }
  .main .secVideo_m .divOne_m .divVideo {
    height: 200px;
    border-radius: 10px;
    padding: 0 20px;
  }
  .main .secVideo_m .divTwo_m {
    padding: 0 10px;
    width: 100%;
    order: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .main .secVideo_m .divTwo_m h3 {
    font-size: 22px;
  }
  .main .secVideo_m .divTwo_m p {
    font-size: 12px;
  }
  .main .secVideo_m .divTwo_m p i {
    display: none;
  }
  .main .secText {
    padding: 55px 20px;
    height: 350px;
  }
  .main .secText h3 {
    font-size: 2em;
  }
  .main .secText p {
    font-size: 12px;
  }
  .main .secText h5 {
    font-size: 15px;
  }
  .main .secText button {
    width: 350px;
    height: 32px;
    font-size: 12px;
  }
  .main .secText_ss {
    padding: 55px 20px;
    height: 560px;
    margin-bottom: 50px;
  }
  .main .secText_ss h3 {
    font-size: 2em;
  }
  .main .secText_ss p {
    font-size: 12px;
  }
  .main .secText_ss h5 {
    font-size: 15px;
  }
  .main .secText_ss button {
    width: 350px;
    height: 32px;
    font-size: 12px;
  }
  .main .secText_m {
    padding: 55px 40px;
    height: 550px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/img0016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main .secText_m h3 {
    font-size: 2.2em;
  }
  .main .secText_m p {
    font-size: 14px;
    margin: 10px 0 25px;
  }
  .main .secText_m h5 {
    font-size: 15px;
  }
  .main .secText_m button {
    width: 400px;
    height: 35px;
    font-size: 13px;
  }
}
.footerIndex {
  color: rgba(255, 255, 255, 0.9137254902);
  height: 530px;
}
.footerIndex .footerEscritorio .linksFooter ul {
  top: 30%;
  line-height: 30px;
  list-style-type: none;
}
.footerIndex .footerEscritorio .linksFooter ul a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9137254902);
}
.footerIndex .footerEscritorio .linksFooter ul .logo {
  color: rgba(255, 255, 255, 0.8823529412);
  font-weight: bolder;
  font-size: 25px;
}
.footerIndex .footerEscritorio .linksFooter ul #subLogo {
  font-weight: 400;
  font-size: 10px;
}
.footerIndex .footerEscritorio .hrFooter {
  background-color: rgb(139, 139, 139);
  width: 95%;
  margin: auto;
  color: #000;
  height: 1px;
}
.footerIndex .footerEscritorio .redSocial {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 15px;
  margin: 0 6px;
}
.footerIndex .footerEscritorio .redSocial a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.footerIndex .footerEscritorio .cajaP {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.768627451);
}
.footerIndex .footerMobile {
  display: none !important;
}
.footerIndex .footerMobile .imgFooter {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.2)), url(../assets/images/gato2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.footerIndex .footerMobile .imgFooter .botonRegistrarse {
  border: 2px solid #fff;
  padding: 8px 30px;
}
.footerIndex .footerMobile .footerRedes {
  height: 28vh;
}
.footerIndex .footerMobile .footerRedes .red {
  border: 2px solid #fff;
  border-radius: 50%;
}
.footerIndex .footerMobile .footerRedes .red i {
  font-size: 25px;
}

/*Media Queries*/
/*SM*/
@media screen and (width >= 0px) and (width < 768px) {
  .footerIndex {
    color: rgba(255, 255, 255, 0.9137254902);
    height: 530px;
  }
  .footerIndex .footerEscritorio {
    display: none !important;
  }
  .footerIndex .footerMobile {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
