@keyframes deslizY {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes deslizX {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes desliz-X {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}