
$fuente-principal: 'Lexend Exa';
$fuente-secundaria: sans-serif;
$fw-bolder: bolder;
$fs-titulosDesktop: 5.5em;

$mapa-colores: (
    color-barraPrincipal: #e0cb0bc2,
    color-button: #e0cb0be6,
    color-areaPrincipal: #0f0f0feb,
    color-logo: #ffffffe1,
    color-secVideo: #1a1a1a,
    color-negro: #000,
    color-blanco: #fff
);